body{
    background-color: antiquewhite;
}

#first-par{
    background-color: bisque;
    padding: 25px;
    border: 2px solid;
    color:#8B4513 ;
}

#second-par{
    background-color: bisque;
    padding: 25px;
    border: 2px solid;
    color:#8B4513 ;
}

